server {

    server_name     media.ludovicopratesi.it;
    server_tokens   off;
    root            /home/ludovicopratesi/media;


    # set caching to 365d.
    # http://nginx.org/en/docs/http/ngx_http_headers_module.html
    expires    modified +90d;
    add_header Cache-Control private;

    access_log off;
    error_log  /home/ludovicopratesi/var/log/nginx.media.error.log;

    listen [::]:443 ssl; # managed by Certbot
    listen 443 ssl; # managed by Certbot
    ssl_certificate /etc/letsencrypt/live/media.ludovicopratesi.it/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/media.ludovicopratesi.it/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot

}
server {
    if ($host = media.ludovicopratesi.it) {
        return 301 https://$host$request_uri;
    } # managed by Certbot


    listen 80;
    listen [::]:80;

    server_name     media.ludovicopratesi.it;
    return 404; # managed by Certbot


}