{% extends "layout-sidebar-right.html" %}

{% load staticfiles %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}{% trans 'contacts' %}{% endblock %}

{% block breadcrumbs %}
<div class="row">
  <div class="large-12 columns">
    <ul class="breadcrumbs">
      <li><a href="{% url 'homepage' %}">{% trans 'home' %}</a></li>
      <li class="current">{% trans 'contacts' %}</li>
    </ul>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="row">
  <div class="large-12 columns">
    <h3>{% trans 'contacts_page_title' %}</h3>
    <p>{% trans 'contacts_excerpt' %}</p>
    <form method="post" action="{% url 'contacts' %}">{% csrf_token %}
      {{ form.non_field_errors }}
      <div class="row">
        <div class="large-12 columns">
          <div class="row">
            <div class="small-3 columns {% if form.name.errors %}error{%endif%}">
              <label for="right-label" class="right inline">
                {% trans 'contacts_form_name' %}
              </label>
            </div>
            <div class="small-9 columns {% if form.name.errors %}error{%endif%}">
              {{ form.name }}
              {% if form.name.errors %}
              <small class="error">{{ form.name.errors.0 }}</small>
              {% endif %}
            </div>
          </div>
          <div class="row">
            <div class="small-3 columns {% if form.name.errors %}error{%endif%}">
              <label for="right-label" class="right inline">{% trans 'contacts_form_email' %}</label>
            </div>
            <div class="small-9 columns {% if form.email.errors %}error{%endif%}">
              {{ form.email }}
              {% if form.subject.errors %}
              <small class="error">{{ form.email.errors.0 }}</small>
              {% endif %}
            </div>
          </div>
          <div class="row">
            <div class="small-3 columns {% if form.name.errors %}error{%endif%}">
              <label for="right-label" class="right inline">{% trans 'contacts_form_subject' %}</label>
            </div>
            <div class="small-9 columns {% if form.subject.errors %}error{%endif%}">
              {{ form.subject }}
              {% if form.subject.errors %}
              <small class="error">{{ form.subject.errors.0 }}</small>
              {% endif %}
            </div>
          </div>
          <div class="row">
            <div class="small-3 columns {% if form.message.errors %}error{%endif%}">
              <label for="right-label" class="right inline">{% trans 'contacts_form_message' %}</label>
            </div>
            <div class="small-9 columns {% if form.message.errors %}error{%endif%}">
              {{ form.message }}
              {% if form.message.errors %}
              <small class="error">{{ form.message.errors.0 }}</small>
              {% endif %}
            </div>
          </div>
          <div class="row">
            <div class="small-9 small-offset-3 columns">
              <input type="submit" class="button" value="{% trans 'contacts_form_submit' %}" >
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block sidebar %}
<div class="box">
  <h5>{% trans 'contact_box_title'|capfirst %}</h5>
  <ul>
    <li class="row">
      <strong class="large-3 columns">{% trans 'email_title'|capfirst %}:</strong>
      <a class="large-9 columns" style="padding-left:12px;" href="mailto:lpratesi@futuronline.it">lpratesi@futuronline.it</a>
    </li>
    <li class="row">
      <strong class="large-3 columns">{% trans 'address_title'|capfirst %}:</strong>
      <span class="large-9 columns">{% trans 'address_info' %}</span>
    </li>
  </ul>
</div>
{% endblock %}
