{% load i18n %}

<div class="row">
  <ul class="no-bullet small-block-grid-4">
    {% for exhibit in exhibits %}
      <li>
        <a href="{% url 'exhibit_show' exhibit.slug %}">
          <div class="hp_thumb">
            {% if exhibit.images.all.count > 0 %}
              <img alt="{% blocktrans %}Preview picture exhibit {{ exhibit }}{%endblocktrans %}" src="{{ exhibit.get_thumbnail_image.filename.window.url }}">
            {% else %}
              <img alt="{% blocktrans %}Preview picture exhibit {{ exhibit}}{%endblocktrans %}" src="https://placehold.it/233x220&text=no img">
            {% endif %}
            <div class="panel">
              <h5>{{ exhibit.get_authors }}</h5>
              <p>
                <strong>{{ exhibit.title }}</strong>
                <hr>
                <span style="color:#000;">{{ exhibit.address }}</span>
                <br>
                <span style="color:#000;">{{ exhibit.begun_at }} - {{ exhibit.ended_at }}</span>
              </p>
            </div>
        </a>
      </li>
    {% empty %}
      <div class="large-12 columns">
        {% trans 'current_exhibits_empty_list' %}
      </div>
    {% endfor %}
  </ul>
</div>
