{% extends "layout-sidebar-right.html" %}

{% load staticfiles %}
{% load exhibit_translator %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}{{ exhibit.get_authors }} - {{ exhibit.title }}{% endblock %}

{% block breadcrumbs %}
<div class="row">
  <div class="large-12 columns">
    <ul class="breadcrumbs">
      <li><a href="{% url 'homepage' %}">Home</a></li>
      <li><a href="{% url 'exhibit_list' %}">Mostre</a></li>
      <li class="current">{{ exhibit.title }}</li>
    </ul>
  </div>
</div>
{% endblock %}

{% block sidebar %}
<div class="time-schedule">
  <h5>{% trans 'exhibit_info'|capfirst %}</h5>
  <p class="time">
    <span class="name">{% trans 'when' %}</span>
    <div class="time-range">
      <span>{% trans 'time_from' %} {{ exhibit.begun_at }}</span>
      <br>
      <span> {% trans 'time_to' %} {{ exhibit.ended_at }}</span>
    </div>
  </p>
  <p class="time">
  <span class="name">{% trans 'where' %}</span>
    <div class="time-range">
      <span>{{ exhibit.address }}</span>
    </div>
  </p>
</div>
{{ block.super }}
{% endblock %}

{% block content %}
{% include '_slideshow.html' %}
<div id="exhibit-feat">
  <h2 class="author">{{ exhibit.get_authors }}</h2>
  <h3 class="title" style="margin-top:30px;">{{ exhibit.title }}</h3>
  <div class="description">
    {{ exhibit|get_description:LANGUAGE_CODE|safe }}
  </div>
</div>
{% endblock %}
