{% extends "base.html" %}

{% load staticfiles %}
{% load exhibit_translator %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}{% trans 'exhibits' %}{% endblock %}

{% block breadcrumbs %}
<div class="row">
  <div class="large-12 columns">
    <ul class="breadcrumbs">
      <li><a href="{% url 'homepage' %}">{% trans 'home' %}</a></li>
      <li class="current">{% trans 'exhibits' %}</li>
    </ul>
  </div>
</div>
{% endblock %}

{% block page %}
{% for exhibit in exhibit_list %}
<div class="row exhibit-row">
  <a href="{% url 'exhibit_show' exhibit.slug %}">
    <div class="large-4 columns">
      {% if exhibit.images.all.count == 0 %}
      <img alt="{% blocktrans %}Preview picture exhibit {{ exhibit }}{% endblocktrans %}" src="https://placehold.it/291x218&text=no img">
      {% else %}
      <img alt="{% blocktrans %}Preview picture exhibit {{ exhibit }}{% endblocktrans %}" src="{{ exhibit.get_thumbnail_image.filename.list.url }}">
      {% endif %}
    </div>
    <div class="large-8 columns">
      <h4 class="title">{{ exhibit.title }}</h4>
      <p>{{ exhibit.get_authors }}</p>
      <p>{{ exhibit.begun_at }} - {{ exhibit.ended_at }}, {{ exhibit.address }}</p>
      <div class="row">
        <div class="large-12 columns">
          <p class="exhibit-row-excerpt">
          {{ exhibit|get_excerpt:LANGUAGE_CODE }}
          </p>
        </div>
      </div>
    </div>
  </a>
</div>
{% empty %}
<div class="row">
  <div class="large-12 columns">
  {% trans 'empty_exhibits_list_message' %}
</div>
</div>
{% endfor %}

{% include "_pagination.html" %}

{% endblock %}
