{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}{% trans 'resume' %}{% endblock %}

{% block breadcrumbs %}
<div class="row">
  <div class="large-12 columns">
    <ul class="breadcrumbs">
      <li><a href="{% url 'homepage' %}">{% trans 'home' %}</a></li>
      <li class="current">{% trans 'resume' %}</li>
    </ul>
  </div>
</div>
{% endblock %}

{% block page %}

<div id="resume" class="row">
  {% if not resume %}
  <p class="large-12 columns">{% trans 'page_in_construction'|capfirst %}</p>
  {% else %}
  <div class="large-8 columns page">
    <h2 class="large-12 columns text-center title">{% trans 'resume' %}</h2>
    <p class="large-12 columns anagrafica">{% trans 'cv_birthdate' %}</p>
    {% for section in resume.resumesection_set.all %}
    <a id="{{ section.title }}"></a>
    <div class="row section">
      <div class="large-10 columns feature">
        <div class="title">{{ section.title }}</div>
      </div>
      <div class="large-2 columns text-right">
        <a class="back-top" href="#top">{% trans 'back_to_top' %}</a>
      </div>
      <div class="large-12 columns feature">
        <div class="line"></div>
        {% if section.description %}
        <div class="content">{{ section.description|safe|linebreaksbr }}</div>
        {% endif %}
      </div>
      {% for event in section.resumeevent_set.all %}
      {% if not event.ended_at and not event.begun_at %}
      <div class="large-12 columns event">
        <div class="title">{{ event.title }}</div>
        {% if event.description %}
        <div class="content">{{ event.description|safe|linebreaksbr }}</div>
        {% endif %}
      </div>
      {% else %}
      <div class="large-2 columns event">
        <div class="date">{{ event.get_date }}</div>
      </div>
      <div class="large-10 columns event">
        <div class="title">{{ event.title }}</div>
        {% if event.description %}
        <div class="content">{{ event.description|safe|linebreaksbr }}</div>
        {% endif %}
      </div>
      {% endif %}
      {% endfor %}
    </div>
    {% endfor %}
  </div>
  <div id="sidebar" class="large-4 columns">
    {% if LANGUAGE_CODE == 'it' %}
    <a class="button" href="{% url 'resume_it' %}" target="_blank">Esporta in PDF</a>
    {% else %}
    <a class="button" href="{% url 'resume_en' %}" target="_blank">Export PDF</a>
    {% endif %}
    <div class="box">
      <h5>{% trans 'sections'|capfirst %}</h5>
      {% for section in resume.resumesection_set.all %}
      {% if forloop.first %}<ul>{% endif %}
      <li><a href="#{{ section.title }}">{{ section.title|capfirst }}</a></li>
      {% if forloop.last %}</ul>{% endif %}
      {% endfor %}
    </div>
    {% if active_exhibits  %}
    <div class="box">
      <h5>{% trans 'active_exhibits'|capfirst %}</h5>
      {% for item in active_exhibits %}
      {% if forloop.first %}<ul>{% endif %}
        <li><a href="{% url 'exhibit_show' item.slug %}">{{ item.title|capfirst }}</a></li>
      {% if forloop.last %}</ul>{% endif %}
      {% endfor %}
    </div>
    {% endif %}

  </div>
  {% endif %}
</div>
{% endblock %}
